<footer class="footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-4">
          <h3 class="heading-section">About Us</h3>
          <p class="lead">It is the rural based Non-Profit organization  dedicated to serving other who provide direct assistace to deserving  and qualified individuals and charities </p>
          <!-- <p class="mb-5">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p> -->
          <!-- <p><a href="#" class="link-underline">Read  More</a></p> -->
        </div>
        <div class="col-md-6 col-lg-4">
          <h3 class="heading-section">Recent Activities</h3>
          <div class="block-21 d-flex mb-4">
            <figure class="mr-3">
              <img src="./assets/images/img_1.jpg" alt="" class="img-fluid">
            </figure>
            <div class="text">
              <h3 class="heading"><a href="#">Support A Student</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> June 12, 2019</a></div>
                <!-- <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div> -->
              </div>
            </div>
          </div>

          <div class="block-21 d-flex mb-4">
            <figure class="mr-3">
              <img src="./assets/images/sankalp.jpg" alt="" class="img-fluid">
            </figure>
            <div class="text">
              <h3 class="heading"><a href="#">Sankalp (Medical Camp)</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 18, 2018</a></div>
                <!-- <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div> -->
              </div>
            </div>
          </div>

          <!-- <div class="block-21 d-flex mb-4">
            <figure class="mr-3">
              <img src="images/img_4.jpg" alt="" class="img-fluid">
            </figure>
            <div class="text">
              <h3 class="heading"><a href="#">Unfortunate Children Need Your Love</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> July 29, 2018</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="block-23">
            <h3 class="heading-section">Get Connected</h3>
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">7-214/1,Helping Hands Organization, Main Road, Tallapudi ,W.G. Dist ,Andhra Pradesh</span></li>
                <li><a ><span class="icon icon-phone"></span><span class="text">+91 9494321356</span></a></li>
                <li><a ><span class="icon icon-envelope"></span><span class="text">helpinghandsord.tpld@gmail.com</span></a></li>
                <li><a ><span class="icon icon-facebook"></span><span class="text">helping hands org</span></a></li>
              </ul>
            </div>
        </div>
        
        
      </div>
      <div class="row pt-5">
        <div class="col-md-12 text-center">
          
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; 2020  Helping Hands Organization
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          
        </div>
      </div>
    </div>
  </footer>