<section class="container mt-4 mb-4">
    <h1 style="text-align: center;background-color: skyblue;">Members</h1>
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                      <div class="p-0 w-25">
                          <img src="" class="img-thumbnail border-0"  alt="sai" />
                          
                      </div>
                      <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                              <h4 class="text-primary">Kancharla S S Sudheshna</h4>
                              <h5 class="text-info">mail</h5>
                              <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                  <li><i class="fab fa-facebook-square"></i>President </li>
                                  <li><i class="fab fa-twitter-square"></i> 9494339855</li>
                              </ul>
                            <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                      <div class="p-0 w-25">
                          <img src="" class="img-thumbnail border-0" alt="vamsi" />
                      </div>
                      <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                              <h4 class="text-primary">Anantham N V S Vamsi</h4>
                              <h5 class="text-info">mail</h5>
                              <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                  <li><i class="fab fa-facebook-square"></i> Vice President</li>
                                  <li><i class="fab fa-twitter-square"></i> Twitter</li>
                              </ul>
                            <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                      <div class="p-0 w-25">
                          <img src="" class="img-thumbnail border-0"  alt="vinay" />
                          
                      </div>
                      <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                              <h4 class="text-primary">Kankipati Sai Vinay</h4>
                              <h5 class="text-info">mail</h5>
                              <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                  <li><i class="fab fa-facebook-square"></i>Treasurer </li>
                                  <li><i class="fab fa-twitter-square"></i> 8985603046</li>
                              </ul>
                            <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                      <div class="p-0 w-25">
                          <img src="" class="img-thumbnail border-0" alt="praveen" />
                      </div>
                      <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                              <h4 class="text-primary">Kanasi Praveen Kumar</h4>
                              <h5 class="text-info">mail</h5>
                              <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                  <li><i class="fab fa-facebook-square"></i> Secretary</li>
                                  <li><i class="fab fa-twitter-square"></i> Twitter</li>
                              </ul>
                            <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                      <div class="p-0 w-25">
                          <img src="" class="img-thumbnail border-0"  alt="rupesh" />
                          
                      </div>
                      <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                              <h4 class="text-primary">Solasa Rupesh</h4>
                              <h5 class="text-info">mail</h5>
                              <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                  <li><i class="fab fa-facebook-square"></i>Joint Secretary </li>
                                  <li><i class="fab fa-twitter-square"></i> 8985603046</li>
                              </ul>
                            <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                      <div class="p-0 w-25">
                          <img src="" class="img-thumbnail border-0" alt="mohana" />
                      </div>
                      <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                              <h4 class="text-primary">Yekkisetti Mohana</h4>
                              <h5 class="text-info">mail</h5>
                              <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                  <li><i class="fab fa-facebook-square"></i> Member</li>
                                  <li><i class="fab fa-twitter-square"></i> Twitter</li>
                              </ul>
                            <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                      <div class="p-0 w-25">
                          <img src="" class="img-thumbnail border-0"  alt="rupendra" />
                      </div>
                      <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                              <h4 class="text-primary">Solasa Rupendra</h4>
                              <h5 class="text-info">mail</h5>
                              <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                  <li><i class="fab fa-facebook-square"></i>Member </li>
                                  <li><i class="fab fa-twitter-square"></i> 8985603046</li>
                              </ul>
                            <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                      <div class="p-0 w-25">
                          <img src="" class="img-thumbnail border-0" alt="mani" />
                      </div>
                      <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                              <h4 class="text-primary">Anantham Manikanta</h4>
                              <h5 class="text-info">mail</h5>
                              <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                  <li><i class="fab fa-facebook-square"></i> Member</li>
                                  <li><i class="fab fa-twitter-square"></i> Twitter</li>
                              </ul>
                            <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="d-flex flex-row border rounded">
                      <div class="p-0 w-25">
                          <img src="" class="img-thumbnail border-0"  alt="saikumar" />
                      </div>
                      <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                              <h4 class="text-primary">Anantham Saikumar</h4>
                              <h5 class="text-info">mail</h5>
                              <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                  <li><i class="fab fa-facebook-square"></i>Member </li>
                                  <li><i class="fab fa-twitter-square"></i> 9494339855</li>
                              </ul>
                            <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    </section>