
.main-panel > .content {
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: 93px; }
.main-panel > .navbar {
    margin-bottom: 0; }
.main-panel .header {
    margin-bottom: 50px; }
  