<section class="container mt-4 mb-4">
    <div class="card m-3">
      <h5 class="card-header" ><strong >Add Event</strong></h5>
      <div class="card-body">
        <form [formGroup]="myform" (ngSubmit)="onSubmit()" >
            <input type="hidden" formControlName="edit_form" class="form-control" id="edit_form"  value>
            <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="EventName11">Event Name<span class="maditory-field">*</span></label>
                <input type="text" formControlName="eventName" class="form-control" id="EventName11" placeholder="Event Name" [ngClass]="{ 'is-invalid': submitted && f.eventName.errors }" value>
                <div *ngIf="submitted && f.eventName.errors" class="invalid-feedback">
                    <div *ngIf="f.eventName.errors.required">Event Name is required</div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label >Date Of Event<span class="maditory-field">*</span></label>
                <input formControlName="date" type="date" class="form-control "  placeholder="Date OF Event" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
                <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                    <div *ngIf="f.date.errors.required">Date is required</div>
                </div>
            </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label >City <span class="maditory-field">*</span></label>
                    <input type="text" formControlName="city" class="form-control "  placeholder="City" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">City is required</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label >Distict <span class="maditory-field">*</span></label>
                    <input type="text" formControlName="distict" class="form-control "  placeholder="Distict" [ngClass]="{ 'is-invalid': submitted && f.distict.errors }">
                    <div *ngIf="submitted && f.distict.errors" class="invalid-feedback">
                        <div *ngIf="f.distict.errors.required">Distict is required</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label >State<span class="maditory-field">*</span> </label>
                    <input type="text" formControlName="state" class="form-control "  placeholder="State" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.required">State is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
            <div class="col-md-6 mb-3">
                <label >Type <span class="maditory-field">*</span></label>
                <select formControlName="type" class="form-control "  placeholder="Type"  [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                    <option disabled>Select Type</option>
                    <option value="Food">Food</option>
                    <option value="Serving">Serving</option>
                    <option value="Money">Money</option> 
                </select>
                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                    <div *ngIf="f.type.errors.required">Type field  is required</div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label >Donation Type <span class="maditory-field">*</span></label>
                <select formControlName="donation_type" class="form-control "  placeholder="Donation Type" [ngClass]="{ 'is-invalid': submitted && f.donation_type.errors }" >
                    <option disabled>Select Donation Type</option>
                    <option value="Self">Self</option>
                    <option value="Donation">Donation</option>
                </select>
                <div *ngIf="submitted && f.donation_type.errors" class="invalid-feedback">
                    <div *ngIf="f.donation_type.errors.required">Donation Type is required</div>
                </div>
            </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label >Total Expeniture <span class="maditory-field">*</span></label>
                    <input type="number" formControlName="total_expenditure" class="form-control "  placeholder="Total Expenditure" [ngClass]="{ 'is-invalid': submitted && f.total_expenditure.errors }" >
                    <div *ngIf="submitted && f.total_expenditure.errors" class="invalid-feedback">
                        <div *ngIf="f.total_expenditure.errors.required">Total Expenditure is required</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label >Total Members (Aprox) <span class="maditory-field">*</span></label>
                    <input type="number" formControlName="total_members" class="form-control "  placeholder="Total Memebers" [ngClass]="{ 'is-invalid': submitted && f.total_members.errors }" >
                    <div *ngIf="submitted && f.total_members.errors" class="invalid-feedback">
                        <div *ngIf="f.total_members.errors.required">Donation Type is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label >Status</label>
                    <select formControlName="status" class="form-control "  placeholder="Status" >
                        <option>Active</option>
                        <option>Pending</option>
                        <option>Completed</option>
                    </select>
                </div>
            </div>
         
            <!-- <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input is-invalid" id="invalidCheck33" required>
                <label class="custom-control-label" for="invalidCheck33">Agree to terms and conditions</label>
                <div class="invalid-feedback">
                You must agree before submitting.
                </div>
            </div>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
            </div> -->
            <div class="text-center">
                <button type ="submit" class="btn btn-primary mr-1" *ngIf="!this.is_edit">Submit</button>
                <button type ="submit" class="btn btn-primary mr-1" *ngIf="this.is_edit">Update</button>
            </div>
        </form>
      </div>
    </div>
</section>
